/* Body */
body {
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #250606;
  margin: 0;
  padding: 0;
}

/* Nav Bar */
nav {
  position: fixed;
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 1px solid #222222;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}

nav ul li a {
  color: #ffffff;
}

/* Nav Bar Hover Effect */
nav ul li a:hover {
  color: black;
}

/* Title */
.title {
  text-align: center;
  color: white;
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}

/* Cat Photos */
.cat-photos {
  text-align: center;
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  color: white;
}

.cat-photos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cat-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* cat videos */
.video-section {
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  color: white;
  padding: 8px;
  margin-top: 16px;
}
.video-title {
  text-align: center;
}
.video-container {
  display: flex;
  justify-content: center;
}

/* cat articles */
.article-section {
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  color: white;
  padding: 8px;
  margin-top: 16px;
}
.article-title {
  text-align: center;
}
.article-container {
  display: flex;
  justify-content: center;
}
.article-question {
  text-align: center;
}
.article-1 {
  margin-right: 16px;
}
.article-2 {
  margin-left: 16px;
}

/* Form */

/* create form-title middle web */
.form-title {
  text-align: center;
}

/* field set form */
fieldset {
  margin: 16px 0;
  border-radius: 4px;
}

/* input area */
input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

/* form section */
.form-section {
  background: rgb(9, 102, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 102, 121, 1) 48%,
    rgba(0, 194, 255, 1) 100%
  );
  color: white;
  padding: 8px;
  margin-top: 16px;
}

.form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
/* Button submit */
button[type='submit'] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Button to top */
.myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #faebd7; /* Set a background color */
  color: #000000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Media Query */

/* Hide Menu Bar */
@media (min-width: 426px) {
  .mobile {
    display: none;
  }
}
/* Hide Nav ul list */
@media (max-width: 425px) {
  nav ul {
    display: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  /* cat photos */
  .cat-photos .grid-container {
    grid-template-columns: 1fr;
  }
  /* cat videos */
  .video-container {
    justify-content: center;
  }
  /* cat articles */
  .article-container {
    flex-direction: column;
  }
  .article-1 {
    margin-right: 0;
  }
  .article-2 {
    margin-left: 0;
  }
  /* form section */
  .form-section form {
    max-width: 100%;
  }
}